.stage5-table{
	max-height: 650px !important; /* Adjust as needed */
	overflow-y: auto;
	width:fit-content;
}

.stage5-table table{
	width: 100% !important;
}

.stage5-table table thead{
	position: sticky;
	top: 0;
	z-index: 10;
}
.toggle input{
    height: 2em;
    padding: 0px !important;
    outline: black;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.toggle label {
	cursor: pointer;
	text-indent: -9999px;
    margin-bottom: 0px !important;
	width: 4em;
	height: 2.2em;
	background: darkred;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle label:after {
	content: '';
	position: absolute;
    top: 1px;
    left: 4px;
    width: 1.9em;
    height: 2em;
	background: #fff;
	border-radius: 90px;
	transition: 0s;
}

.toggle input:checked + label {
	background: darkgreen;
}

.toggle input:checked + label:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

.toggle  label:active:after {
	width: 130px;
}


.stage5-table thead tr{background-color: #0C3C54 !important; color: #fff !important; text-align: left !important;}
.stage5-table thead tr th{text-align: left !important; vertical-align:middle !important; padding: 15px 8px !important;}
.stage5-table tbody tr td{text-align: left !important; padding: 6px 15px !important;}
.stage5-table thead tr th:nth-child(1){width: 3% !important;}
.stage5-table div{margin: 0px 0px 10px 0px;}
.stage5-table { width: 100%;  text-align: center;  }
.stage5-table input { height: 2em; padding:0px !important;}